<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>머신러닝 MACHINE LEARNING</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "548b7d04-240d-428e-af04-00a95267d07b", // The ID of this integration.
            region: "kr-seo", // The region your integration is hosted in.
            serviceInstanceID: "b349fce4-22b6-4603-b439-394683470a41", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">머신러닝 MACHINE LEARNING</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
            상담내용<br />
            <textarea id="watson" name="watson" rows="8" cols="60"></textarea>
        </div>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script >
        $('#watson').keydown(function(key) {
            if (key.keyCode == 13) {
              existingText = $('#watson').val()
              if($('#watson').val().indexOf("./")!=-1){
                  $.ajax({
                  url:'/result',
                  method: 'post',
                  success:function(data){
                      $('#watson').val(existingText + data);
                  }
                })
              }
            }
        })
    </script>
  </body>
</html>
